
<aside class="sidebar" [ngClass]="{collapseClass: isActive}">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand m-0 py-2 brand-title" href="#">Fatih Mayuk</a>
    <span></span>
    <a class="navbar-brand py-2 material-icons toggle-sidebar" (click)="toggleSidebar()">menu</a>
  </nav>

  <nav class="navigation">
    <ul>
      <li class="active">
      <a routerLink="/travel"  routerLinkActive="active" >
        <span class="nav-icon material-icons">public</span>
        Travels
      </a>
    </li>

      <li class="active">
        <a routerLink="/wrong"  routerLinkActive="active" >
          <span class="nav-icon material-icons">cancel</span>
          Wrong address. Click Me
        </a>
      </li>


    </ul>

  </nav>
</aside>
