<div class="content-wrapper">

  <form *ngIf="travelDetailForm" [formGroup]="travelDetailForm" >
    <div class="row">
      <div class="col-md-12">
        <label class="badge">Details</label>
        <textarea readonly class="form-control" rows="3" aria-multiline="true" formControlName="details"
                  class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="badge">Details</label>
        <textarea readonly class="form-control" rows="3" aria-multiline="true" formControlName="details"
                  class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="badge">Details</label>
        <textarea readonly class="form-control" rows="3" aria-multiline="true" formControlName="details"
                  class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="badge">Details</label>
        <textarea readonly class="form-control" rows="3" aria-multiline="true" formControlName="details"
                  class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="badge">Details</label>
        <textarea readonly class="form-control" rows="3" aria-multiline="true" formControlName="details"
                  class="form-control"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-6"></div>
      <div class="col-lg-6 col-md-6">
        <div class="pull-right">
          <button type="submit" name="submit" class="btn btn-block btn-primary">Back</button>
        </div>
      </div>
    </div>

    <hr>

  </form>

</div>
